.full{
    width: 100%;
    height: 100%;
}

.half{
    width: 794px;
    height: 410px;
}

.size{
    width: 10%;
    height: 10%;
}

.par{
    color: blue;
    font-weight: bold;
    font-style: italic;
}